.btn-container {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}

.edit-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 160px;
  padding-top: 30px;
}
