

.form {
  color: #fff;
}

.view {
  background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.6), rgba(117, 19, 93, 0.73)), url('https://images.unsplash.com/photo-1501018015558-ff8c02bc2758?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
  background-size: cover;
}

.card-image {
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.card-image-large {
  padding: 12px;
  height: 350px;
}

.container-show {
  display: flex;
  justify-content: flex-start;
  padding-left: 250px;
}

ul {
  list-style: none;
  text-align: left;
}

li {
  text-align: left;
  font-family: sans-serif;
  font-size: 16px;
}

.col-3 {
  background-color: #F4F4F4;
}

p {
  text-align: left;
  font-family: sans-serif;
  font-size: 16px;
}

.row {
  padding: 5px;
}
