header {
  background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.6), rgba(117, 19, 93, 0.73)), url('https://images.unsplash.com/photo-1548429695-232a09a313f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
  height: 500px;
  width: 100%;
}

.header-show {
  background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.6), rgba(117, 19, 93, 0.73)), url('https://images.unsplash.com/photo-1553229685-0c982018d570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80');
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

h1 {
  color: rgb(89, 189, 219);
  font-family: 'Beth Ellen', cursive;
}
